<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="text" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="./brailie-html/template/brailie/style/images/favicon.png">
  <title>Photo Galery</title>
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/css/plugins.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/revolution/css/settings.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/revolution/css/layers.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/revolution/css/navigation.css">
  <link rel="stylesheet" type="text/css"
    href="./brailie-html/template/brailie/style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
  <link rel="stylesheet" type="text/css"
    href="./brailie-html/template/brailie/style/revolution/revolution-addons/typewriter/css/typewriter.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/type/icons.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style.css">
  <link rel="stylesheet" type="text/css" href="./brailie-html/template/brailie/style/css/color/blue.css">
  <link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet'
    type='text/css'>
</head>

<body>
  <div class="content-wrapper">
    <nav class="navbar solid nav-wrapper-dark inverse-text navbar-expand-lg">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="./brailie-html/template/brailie/index.html"><img src="#"
                srcset="./brailie-html/template/brailie/style/images/logo-light.png 1x, ./brailie-html/template/brailie/style/images/logo-light@2x.png 2x"
                alt="" /></a></div>
          <div class="navbar-brand">Photo Galery</div>
          <div class="navbar-hamburger ml-auto d-lg-none d-xl-none">
            <!-- <button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button> -->
          </div>
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse Opacidad-Zero-Div">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link">Home</a>              
              <!--/.dropdown-menu --> 
            </li>
          </ul>
          <!-- /.navbar-nav -->
          <div class="navbar-divider"></div>
          <ul class="social social-mute social-s">
            <!-- <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container-fluid inner pt-15 pb-15">
        <div class="swiper-container-wrapper swiper-auto-full ver2" data-aos="fade">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper" id="contentImages">
              <!-- <div class="swiper-slide"> <img src="./brailie-html/template/brailie/style/images/art/br1.jpg" alt="" /> </div> -->
            </div>
            <!-- .swiper-wrapper -->
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!-- .swiper-container-wrapper -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <div class="wrapper dark-wrapper inverse-text ocultar-div">
      <div class="container-fluid inner pt-15 pb-15">
        <div class="swiper-container-wrapper swiper-auto-full ver2" data-aos="fade">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper" id="contentImages1">
              <!-- <div class="swiper-slide"> <img src="./brailie-html/template/brailie/style/images/art/br1.jpg" alt="" /> </div> -->
            </div>
            <!-- .swiper-wrapper -->
          </div>



          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!-- .swiper-container-wrapper -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.wrapper -->
    <footer>
      <div class="sub-footer dark-wrapper inverse-text">
        <div class="container inner pt-30 pb-30 d-md-flex align-items-md-center text-center">
          <div class="mr-auto">
            <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
          </div>
          <!-- /div -->
          <div class="space20 d-md-none"></div>
          <div class="ml-auto text-md-right">
            <ul class="social social-bg social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- /div -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.sub-footer -->
    </footer>
  </div>
  <!-- /.content-wrapper -->
  <script src="./brailie-html/template/brailie/style/js/jquery.min.js"></script>
  <script src="./brailie-html/template/brailie/style/js/popper.min.js"></script>
  <script src="./brailie-html/template/brailie/style/js/bootstrap.min.js"></script>
  <script src="./brailie-html/template/brailie/style/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="./brailie-html/template/brailie/style/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script
    src="./brailie-html/template/brailie/style/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="./brailie-html/template/brailie/style/js/plugins.js"></script>
  <script src="./brailie-html/template/brailie/style/js/scripts.js"></script>

  <script>
    var contentImages_UP = document.getElementById("contentImages");
    var contentImages_Down = document.getElementById("contentImages1");
    var currentImages = ("<%= images%>").split(',');
    console.log(currentImages);
    contentImages_UP.innerHTML += GetDivCreated(currentImages);
    contentImages_Down.innerHTML += GetDivCreated(currentImages.reverse());

    function GetDivCreated(currentImages) {
      var direction = "";
      currentImages.forEach(element => {
        direction += "<div class='swiper-slide swiper-auto-full ver2'> <img src='" + element + "' alt='' /></div>";
        // console.log(direction);
      });
      return direction;
    }
  </script>
  <!-- <div class="swiper-slide"> <img src="./brailie-html/template/brailie/style/images/art/br1.jpg" alt="" /> </div> -->
</body>

</html>